<!DOCTYPE html>
<html>

<head>
    <title>Spotify Clone</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">

</head>

<body>
    <div class="container">
        <h1 class="title">Welcome to Spotify Clone</h1>
        <form action="/artist-search" method="GET" class="search-form">
            <input type="text" name="artistSearch" placeholder="Search for an artist" class="search-input">
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>
</body>

</html>